body {
  background-color: #f2b03f;
}

.navbar {
  background-color: #d64b34 !important;
}

.logo{
  color: #e8d4b9 !important;
  font-size: 30px;
  font-family: 'Monoton', cursive;
}

.lista{
  color: #e8d4b9 !important;
  font-family: 'Righteous', cursive;
  font-size: 20px;
}

.lista:hover{
  color:#702c37 !important;
  transition: 0.2s;
}

.botao {
  border: 2px solid #e8d4b9;
  color: #e8d4b9;
  font-family: 'Righteous', cursive;
}

.botao:hover {
  background-color: #702c37;
  border: 2px solid #702c37;
}

.grid-container{
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.titulo-filme{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  width: 30%;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  margin-left: 20px;
}

.primeiro-container{
  text-align: center;
  width: 25%;
}

.sino{
  margin-top: 15px;
  font-family: "Bebas Neue", cursive;
  font-size: 17px;
  text-align: justify;
}

.segundo-container{
  font-family: "Bebas Neue", cursive;
  font-size: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imagem-de-erro {
  display: flex;
  margin: 0 auto;
  padding-top: 40px;
}